body {
  background-image: url("../img/northern-lights.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}

select.custom-select {
  width: 200px;
  margin: 10px;
}

div.row div img {
  border-radius: 50%;
}

 @media (max-width: 920px) {
   body {
     background-size: 920px;
   }
 }
