/* DROPDOWNS */
select.custom-select {
  width: 200px;
  margin: 10px;
}

/* BACKGROUND IMAGE */
div.background img {
  height: 400px;
  position: absolute;
}

/* ZODIAC IMAGE */
#image {
  border-radius: 50%;
  width: 200px;
}

/* MEDIA QUERIES */
 /* @media (max-width: 811px) {
   div.background img {
     width: 811px;
   }
 } */
