/* DROPDOWNS */
select.custom-select {
  width: 200px;
  margin: 10px;
}

/* BACKGROUND IMAGE */
img.image-fluid {
  width: 100%;
  position: absolute;
  min-height: 600px;
  object-fit: cover;
  opacity: 0.6;
}

/* ZODIAC IMAGE */
#image {
  border-radius: 50%;
  width: 200px;
}

/* HOROSCOPE PARAGRAPH */
#horoscope {
  max-width: 400px;
}

/* ANIMATIONS */
.animated {
  animation-duration: 5s;
}
